# MySQL
CHAT_DB_HOST=127.0.0.1
CHAT_DB_PORT=3306
CHAT_DB_USER=cppuser
CHAT_DB_PASSWORD=change_me
CHAT_DB_NAME=chat
CHAT_DB_CHARSET=gbk
CHAT_DB_POOL_SIZE=20

# Redis
CHAT_REDIS_HOST=127.0.0.1
CHAT_REDIS_PORT=6379

# Cluster routing
CHAT_SERVER_IO_THREADS=4
CHAT_CLUSTER_IO_THREADS=4
CHAT_INTER_NODE_IP=127.0.0.1
CHAT_INTER_NODE_SHARDS=4
CHAT_INTER_NODE_IO_THREADS=4
CHAT_INTER_NODE_CONNECTING_QUEUE_LIMIT=256
CHAT_INTER_NODE_HIGH_WATER_MARK=524288
CHAT_INTER_NODE_QUEUE_LIMIT=256
CHAT_LOCAL_DELIVERY_QUEUE_LIMIT=8192
CHAT_HEARTBEAT_INTERVAL_MS=3000
CHAT_HEARTBEAT_TIMEOUT_MS=10000
